@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

body {
  line-height: 1;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  border: 0; }

:focus {
  outline: 0; }

.clear {
  clear: both; }

header#header {
  display: flex;
  align-items: center;
  height: 130px; }
  header#header .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header#header .header-wrapper .header__toggler {
      display: none; }
      header#header .header-wrapper .header__toggler .line-1,
      header#header .header-wrapper .header__toggler .line-2,
      header#header .header-wrapper .header__toggler .line-3 {
        width: 35px;
        height: 2px;
        background: #000; }
      header#header .header-wrapper .header__toggler .line-2 {
        margin: 6px 0; }
    header#header .header-wrapper .header__brand img {
      width: 150px; }
    header#header .header-wrapper .search__bar {
      background: #F7F7F7;
      width: 100%;
      max-width: 500px;
      height: 50px;
      border-radius: 24px; }
      header#header .header-wrapper .search__bar form {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        header#header .header-wrapper .search__bar form input {
          padding: 0 20px;
          background: transparent;
          width: 100%;
          height: 100%;
          font-size: 14px; }
          header#header .header-wrapper .search__bar form input::placeholder {
            color: #ccc; }
        header#header .header-wrapper .search__bar form button {
          height: 100%;
          width: 80px;
          background: transparent; }
          header#header .header-wrapper .search__bar form button i {
            font-size: 14px; }
    header#header .header-wrapper .user__items ul {
      display: flex;
      align-items: center;
      gap: 15px; }
      header#header .header-wrapper .user__items ul li a {
        position: relative;
        display: flex;
        align-items: center;
        display: block;
        background: #002556;
        color: #fff;
        padding: 12px 35px;
        border-radius: 24px; }
        header#header .header-wrapper .user__items ul li a i {
          font-size: 18px; }
        header#header .header-wrapper .user__items ul li a span {
          padding-left: 5px;
          font-weight: 500;
          font-size: 15px; }
        header#header .header-wrapper .user__items ul li a .total__basket {
          position: absolute;
          bottom: -5px;
          left: 0;
          background: #fff;
          border: 1px solid #000;
          color: #000;
          font-weight: 700;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px; }

nav#navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  nav#navbar .navbar__wrapper .close__nav {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    background: #002556; }
    nav#navbar .navbar__wrapper .close__nav .login__in a {
      display: flex;
      align-items: center;
      color: #fff;
      text-decoration: none;
      gap: 10px; }
      nav#navbar .navbar__wrapper .close__nav .login__in a i {
        font-size: 20px; }
      nav#navbar .navbar__wrapper .close__nav .login__in a span {
        font-size: 20px; }
    nav#navbar .navbar__wrapper .close__nav .close {
      cursor: pointer; }
      nav#navbar .navbar__wrapper .close__nav .close i {
        color: #fff;
        font-size: 25px; }
  nav#navbar .navbar__wrapper .nav__items ul {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav#navbar .navbar__wrapper .nav__items ul li {
      flex: auto;
      text-align: center; }
      nav#navbar .navbar__wrapper .nav__items ul li a {
        display: block;
        color: #000;
        font-weight: 500;
        display: block;
        height: 45px;
        line-height: 45px;
        position: relative; }
        nav#navbar .navbar__wrapper .nav__items ul li a::before, nav#navbar .navbar__wrapper .nav__items ul li a::after {
          visibility: hidden;
          content: '';
          position: absolute;
          top: 0;
          width: 0%;
          opacity: 0;
          transition: .5s all ease;
          height: 2px;
          background: #002556; }
        nav#navbar .navbar__wrapper .nav__items ul li a::before {
          left: 50%;
          transform: translateX(-50%); }
        nav#navbar .navbar__wrapper .nav__items ul li a::after {
          left: 50%;
          transform: translateX(-50%); }
        nav#navbar .navbar__wrapper .nav__items ul li a:hover::before {
          opacity: 1;
          width: 100%;
          visibility: visible; }
        nav#navbar .navbar__wrapper .nav__items ul li a:hover::after {
          opacity: 1;
          width: 100%;
          visibility: visible; }

section#slider .swiper {
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  height: 100%; }
  section#slider .swiper .swiper-wrapper .swiper-slide img {
    width: 100%; }
  section#slider .swiper .swiper-pagination {
    bottom: 0;
    height: 50px;
    position: absolute;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center; }
    section#slider .swiper .swiper-pagination .swiper-pagination-bullet {
      border-radius: 0;
      display: block;
      width: 50px;
      height: 100%;
      opacity: .5;
      border: 0;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: transparent;
      padding: 10px; }
      section#slider .swiper .swiper-pagination .swiper-pagination-bullet img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
    section#slider .swiper .swiper-pagination .swiper-pagination-bullet-active {
      opacity: 1;
      border-bottom: 1px solid #002556; }

section#products .product__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0; }
  section#products .product__list span {
    font-size: 18px; }
  section#products .product__list .all__products {
    display: flex;
    align-items: center;
    gap: 20px; }
    section#products .product__list .all__products a {
      display: block;
      width: 300px;
      border: 1px solid #eee;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #000;
      padding: 20px;
      border-radius: 24px;
      gap: 10px;
      font-weight: 500;
      font-size: 14px; }
      section#products .product__list .all__products a i {
        font-size: 14px; }
section#products .products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }
  section#products .products .product {
    transition: .2s all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #eee;
    width: calc(25% - 20px); }
    section#products .products .product:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transform: scale(1.05); }
    section#products .products .product .product__header .product__image {
      text-align: center; }
      section#products .products .product .product__header .product__image img {
        width: 50%; }
    section#products .products .product .product__header .product__code {
      margin-top: 10px; }
      section#products .products .product .product__header .product__code a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        font-weight: 500; }
    section#products .products .product .product__header .product__title a {
      text-decoration: none;
      color: #000;
      font-weight: 400;
      font-size: 14px; }
    section#products .products .product .product__bottom .product__price p {
      color: #002556;
      font-weight: 700;
      font-size: 25px; }
      section#products .products .product .product__bottom .product__price p span {
        font-size: 15px;
        padding-left: 10px; }

.container-fluid.form-container {
  padding: 50px 0; }
  .container-fluid.form-container .user__form {
    padding: 0 80px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    padding-top: 40px;
    padding-bottom: 40px; }
    .container-fluid.form-container .user__form .login__form {
      padding-top: 20px;
      display: none; }
      .container-fluid.form-container .user__form .login__form.active {
        display: block; }
    .container-fluid.form-container .user__form .register__form {
      padding-top: 20px;
      display: none; }
      .container-fluid.form-container .user__form .register__form.active {
        display: block; }
    .container-fluid.form-container .user__form .form__links {
      border-bottom: 1px solid #eee; }
      .container-fluid.form-container .user__form .form__links ul {
        display: flex;
        align-items: center;
        justify-content: center; }
        .container-fluid.form-container .user__form .form__links ul li {
          cursor: pointer;
          font-size: 18px;
          display: block;
          padding: 15px 20px; }
          .container-fluid.form-container .user__form .form__links ul li a {
            color: #002556; }
          .container-fluid.form-container .user__form .form__links ul li.active {
            border-bottom: 3px solid #002556;
            font-weight: 500;
            color: #002556; }
    .container-fluid.form-container .user__form .input__group {
      width: 100%; }
      .container-fluid.form-container .user__form .input__group .show__input {
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        align-items: center; }
        .container-fluid.form-container .user__form .input__group .show__input i {
          display: block;
          cursor: pointer;
          height: 60px;
          line-height: 60px;
          padding-right: 10px;
          text-align: center;
          background: #fff; }
        .container-fluid.form-container .user__form .input__group .show__input input {
          border: 0; }
      .container-fluid.form-container .user__form .input__group label {
        display: block;
        font-size: 13px;
        font-weight: 500;
        margin: 10px 0; }
      .container-fluid.form-container .user__form .input__group input {
        display: block;
        width: 100%;
        height: 60px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-size: 14px;
        border-radius: 4px;
        font-weight: 500; }
    .container-fluid.form-container .user__form button {
      display: block;
      width: 100%;
      background: #002556;
      border-radius: 24px;
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      height: 50px;
      margin: 20px auto; }

.user__detail {
  display: flex;
  justify-content: space-between;
  gap: 50px; }
  .user__detail .detail__tabs {
    width: 300px; }
    .user__detail .detail__tabs ul li.active a {
      color: #002556; }
    .user__detail .detail__tabs ul li a {
      display: block;
      color: #000;
      font-size: 19px;
      text-decoration: none;
      font-weight: 500;
      padding: 20px 0;
      border-bottom: 1px solid #eee; }
  .user__detail .detail__contents {
    width: 100%; }
    .user__detail .detail__contents .detail__title {
      margin-bottom: 20px; }
      .user__detail .detail__contents .detail__title h1 {
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 500; }
    .user__detail .detail__contents .detail__form label {
      display: block;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 10px; }
    .user__detail .detail__contents .detail__form input {
      height: 50px;
      padding: 0 10px;
      display: block;
      border: 1px solid #ccc;
      border-radius: 4px; }
    .user__detail .detail__contents .detail__form form .group__flex {
      display: flex;
      gap: 20px; }
      .user__detail .detail__contents .detail__form form .group__flex .input__group {
        width: 100%; }
        .user__detail .detail__contents .detail__form form .group__flex .input__group input {
          width: 100%;
          flex: 1; }
    .user__detail .detail__contents .detail__form form button {
      display: block;
      background: #002556;
      color: #fff;
      font-weight: 500;
      height: 45px;
      border-radius: 24px;
      font-size: 14px;
      padding: 0 30px;
      margin: 30px 0; }
    .user__detail .detail__contents .detail__form .input__group {
      align-items: center; }

.user__adress button {
  display: block;
  background: #002556;
  color: #fff;
  padding: 0 50px;
  height: 40px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px; }
.user__adress .flex__group {
  display: flex;
  justify-content: space-between;
  gap: 20px; }
  .user__adress .flex__group .input__group {
    margin: 20px 0;
    width: 100%; }
    .user__adress .flex__group .input__group input {
      flex: 1;
      width: 100%; }
.user__adress label {
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  font-weight: 500; }
.user__adress input {
  display: block;
  height: 50px;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 4px;
  width: 100%; }
.user__adress textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  padding: 10px;
  height: 300px; }

.product__inner {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  gap: 50px; }
  .product__inner .inner_left {
    width: 40%; }
    .product__inner .inner_left .swiper {
      padding-bottom: 100px;
      position: relative; }
      .product__inner .inner_left .swiper .swiper-pagination {
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap; }
        .product__inner .inner_left .swiper .swiper-pagination .swiper-pagination-bullet {
          height: 50px;
          width: 50px;
          border: 1px solid #ccc;
          border-radius: 0;
          padding: 5px;
          background-color: transparent;
          border-radius: 4px; }
          .product__inner .inner_left .swiper .swiper-pagination .swiper-pagination-bullet img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%; }
      .product__inner .inner_left .swiper .swiper-wrapper .swiper-slide {
        text-align: center; }
        .product__inner .inner_left .swiper .swiper-wrapper .swiper-slide img {
          width: 50%; }
  .product__inner .inner_right {
    width: 60%;
    background: #eee;
    padding: 50px; }
    .product__inner .inner_right .product__code p {
      font-size: 15px;
      color: #ccc;
      font-weight: 500; }
    .product__inner .inner_right .product__title {
      padding: 40px 0; }
      .product__inner .inner_right .product__title p {
        font-size: 20px; }
    .product__inner .inner_right .product__price p {
      font-size: 45px;
      color: #002556;
      font-weight: 700; }
      .product__inner .inner_right .product__price p span {
        font-size: 20px;
        padding-left: 5px; }
    .product__inner .inner_right .product__options {
      padding: 40px 0;
      display: flex;
      gap: 20px; }
      .product__inner .inner_right .product__options .option label {
        padding: 10px 20px;
        border: 1px solid #002556;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500; }
      .product__inner .inner_right .product__options .option input {
        position: absolute;
        left: -100%; }
        .product__inner .inner_right .product__options .option input:checked + label {
          background-color: #002556;
          color: #fff; }
    .product__inner .inner_right .add-to__basket button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 24px;
      padding: 15px 50px;
      width: 100%;
      gap: 20px;
      background: #002556; }
      .product__inner .inner_right .add-to__basket button i {
        font-size: 20px; }
      .product__inner .inner_right .add-to__basket button span {
        font-size: 20px; }

section#best-seller .title {
  font-size: 20px;
  padding: 20px 0; }
section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide {
  width: 20%;
  border: 1px solid #eee;
  border-radius: 4px; }
  section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product {
    padding: 20px 30px; }
    section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product .product__image {
      text-align: center; }
      section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product .product__image a {
        text-align: center; }
        section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product .product__image a img {
          width: 50%; }
    section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product .product__title {
      padding: 10px 0; }
      section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product .product__title p {
        font-size: 14px; }
    section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product .product__price p {
      font-size: 30px;
      font-weight: 600;
      color: #002556; }
      section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product .product__price p span {
        font-size: 17px;
        padding-left: 5px;
        font-weight: 600; }

.user__cart {
  margin: 50px 0; }
  .user__cart .cart__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    justify-content: space-between; }
    .user__cart .cart__wrapper .cart__products {
      border: 1px solid #eee;
      border-radius: 4px;
      width: 70%;
      padding: 10px 20px; }
      .user__cart .cart__wrapper .cart__products table tbody tr .product__thumb img {
        width: 65px;
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 5px; }
      .user__cart .cart__wrapper .cart__products table tbody tr .product__name a {
        color: #000;
        font-size: 13px;
        font-weight: 500; }
      .user__cart .cart__wrapper .cart__products table tbody tr .product__input {
        display: flex;
        align-items: center;
        justify-content: center; }
        .user__cart .cart__wrapper .cart__products table tbody tr .product__input input {
          width: 40px;
          text-align: center;
          height: 50px;
          font-size: 15px;
          font-weight: 500; }
      .user__cart .cart__wrapper .cart__products table tbody tr .product__price p {
        font-weight: 700;
        color: #002556; }
      .user__cart .cart__wrapper .cart__products table tbody tr .product__remove i {
        cursor: pointer;
        font-size: 20px; }
      .user__cart .cart__wrapper .cart__products table tbody tr td {
        vertical-align: middle;
        width: 15%;
        text-align: center; }
        .user__cart .cart__wrapper .cart__products table tbody tr td:nth-child(1) {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px; }
    .user__cart .cart__wrapper .cart__order {
      border: 1px solid #eee;
      border-radius: 4px;
      width: 30%;
      max-height: 320px;
      padding: 30px 20px; }
      .user__cart .cart__wrapper .cart__order .cart__detail {
        margin-bottom: 20px; }
        .user__cart .cart__wrapper .cart__order .cart__detail h1 {
          font-size: 20px;
          color: #002556;
          font-weight: 500;
          letter-spacing: 1px; }
      .user__cart .cart__wrapper .cart__order .order__total,
      .user__cart .cart__wrapper .cart__order .order__kdv,
      .user__cart .cart__wrapper .cart__order .cart__total {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .user__cart .cart__wrapper .cart__order .order__total h1,
        .user__cart .cart__wrapper .cart__order .order__kdv h1,
        .user__cart .cart__wrapper .cart__order .cart__total h1 {
          font-weight: 500;
          font-size: 17px; }
        .user__cart .cart__wrapper .cart__order .order__total p,
        .user__cart .cart__wrapper .cart__order .order__kdv p,
        .user__cart .cart__wrapper .cart__order .cart__total p {
          font-size: 15px;
          color: #002556;
          font-weight: 500; }
      .user__cart .cart__wrapper .cart__order .cart__success {
        margin-top: 20px; }
        .user__cart .cart__wrapper .cart__order .cart__success button {
          width: 100%;
          height: 50px;
          border-radius: 24px;
          background: #1BC078;
          color: #fff;
          font-weight: 500; }

.cart__empty {
  width: 100%;
  margin-top: 100px;
  text-align: center; }
  .cart__empty .cart__icon i {
    color: #002556;
    font-size: 100px; }
  .cart__empty .cart__message {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .cart__empty .cart__message h1 {
      font-size: 20px;
      font-weight: 500; }
    .cart__empty .cart__message a {
      width: 100%;
      display: block;
      background-color: #002556;
      color: #fff;
      max-width: 200px;
      margin: 0 auto;
      border-radius: 24px;
      padding: 15px 0; }

.backdrop {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: .5s all ease;
  opacity: 0; }
  .backdrop.active {
    visibility: visible;
    opacity: 1; }

.error__list {
  width: 100%;
  margin: 20px 0;
  border-radius: 8px;
  overflow: hidden; }
  .error__list.error .error__icon {
    background: #E2747E; }
  .error__list.success .error__icon {
    background: #22bb33; }
  .error__list .error__icon {
    padding: 25px 0;
    text-align: center; }
    .error__list .error__icon i {
      font-size: 30px;
      color: #fff; }
  .error__list .error__messages {
    padding: 20px;
    background: #ffff; }
    .error__list .error__messages ul li {
      padding: 8px 0;
      font-weight: 500;
      font-size: 14px;
      list-style-type: circle;
      margin: 0 20px; }

@media screen and (max-width: 1200px) {
  .user__cart .cart__wrapper {
    gap: 30px;
    flex-direction: column; }
    .user__cart .cart__wrapper .cart__products {
      width: 100%; }
    .user__cart .cart__wrapper .cart__order {
      width: 100%;
      max-height: inherit; }

  .product__inner {
    flex-direction: column; }
    .product__inner .inner_left {
      width: 100%; }
    .product__inner .inner_right {
      width: 100%; }

  .user__detail {
    flex-direction: column; }
    .user__detail .detail__tabs {
      width: 100%; }
    .user__detail .detail__contents {
      width: 100%; }

  .body {
    margin: 70px 0; }

  nav#navbar {
    height: 100%;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: .2s all ease-in-out;
    border: 0; }
    nav#navbar.active {
      left: 0;
      opacity: 1;
      visibility: visible; }
    nav#navbar .container {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      max-width: 100% !important; }
      nav#navbar .container .navbar__wrapper .close__nav {
        display: flex; }
      nav#navbar .container .navbar__wrapper .nav__items {
        border: 0; }
        nav#navbar .container .navbar__wrapper .nav__items ul {
          display: block; }
          nav#navbar .container .navbar__wrapper .nav__items ul li {
            text-align: left; }
            nav#navbar .container .navbar__wrapper .nav__items ul li a {
              height: auto;
              line-height: inherit;
              display: block;
              padding: 20px 10px;
              border-bottom: 1px solid #eee; }
              nav#navbar .container .navbar__wrapper .nav__items ul li a::before, nav#navbar .container .navbar__wrapper .nav__items ul li a::after {
                display: none; }

  header#header {
    height: 100px;
    position: relative; }
    header#header .header-wrapper .header__toggler {
      display: block; }
    header#header .header-wrapper .header__brand img {
      width: 120px; }
    header#header .header-wrapper .search__bar {
      position: absolute;
      top: 100px;
      left: 50%;
      max-width: 568px;
      transform: translateX(-50%); }
    header#header .header-wrapper .user__items ul li:first-child {
      display: none; }
    header#header .header-wrapper .user__items ul li:last-child a {
      padding: 10px 20px; }
      header#header .header-wrapper .user__items ul li:last-child a span {
        display: none; }

  section#slider .swiper {
    padding: 0 !important;
    padding-bottom: 0 !important; }
    section#slider .swiper .swiper-pagination {
      display: none; }

  section#products .products .product {
    width: calc(50% - 10px); }

  section#best-seller .title {
    font-size: 20px;
    padding: 20px 0; }
  section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide {
    width: 50%; }
    section#best-seller .best__seller .swiper .swiper-wrapper .swiper-slide .product .product__image a img {
      width: 50%; } }

/*# sourceMappingURL=style.css.map */
